In [7]:
import pandas as pd

# Read data parquet
df_parquet = pd.read_parquet('green_tripdata_2025-11.parquet')

# Convert to csv
df_parquet.to_csv("green_tripdata_2025-11.csv", index=False)

len(df_parquet)

46912

In [9]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "lpep_pickup_datetime",
    "lpep_dropoff_datetime"
]

In [10]:
# Read data csv
file_data = "green_tripdata_2025-11.csv"
df = pd.read_csv(
    file_data,
    dtype=dtype,
    parse_dates=parse_dates)

In [11]:
# Print df
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1,74,42,1,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1,74,42,2,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1,83,160,1,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1,166,127,1,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1,166,262,1,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,<NA>,<NA>,59,51,<NA>,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,<NA>,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,<NA>,<NA>,74,151,<NA>,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,<NA>,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,<NA>,<NA>,33,163,<NA>,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,<NA>,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,<NA>,<NA>,16,95,<NA>,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,<NA>,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,<NA>,<NA>,65,87,<NA>,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,<NA>,NaN,NaN,0.75

In [12]:
# Check data types
df.dtypes

VendorID                          Int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag       string[python]
RatecodeID                        Int64
PULocationID                      Int64
DOLocationID                      Int64
passenger_count                   Int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      Int64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [116]:
# Check data shape
df.shape

(46912, 21)

In [117]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "lpep_pickup_datetime",
    "lpep_dropoff_datetime"
]

In [118]:
# Create engine
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [119]:
# Get DDL schema
print(pd.io.sql.get_schema(df, name='green_trip_data', con=engine))

CREATE TABLE green_trip_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [120]:
# Create the table
df.head(n=0).to_sql(name='green_trip_data', con=engine, if_exists='replace')

0

In [121]:
# Separate data (chunk)
df_iter = pd.read_csv(
    file_data,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=10000,
)

In [122]:
!uv add tqdm

Resolved 121 packages in 1ms
Audited 26 packages in 0.59ms

In [123]:
from tqdm.auto import tqdm

In [124]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='green_trip_data', con=engine, if_exists='append')

0it [00:00, ?it/s]

***Question 3***  
For the trips in November 2025, how many trips had a trip_distance of less than or equal to 1 mile?

In [16]:
trip_distance = (
    (df["lpep_pickup_datetime"] >= "2025-11-01") &
    (df["lpep_pickup_datetime"] <  "2025-12-01") &
    (df["trip_distance"] <= 1)
).sum()
int(trip_distance)

8007

***Question 4***  
Which was the pick up day with the longest trip distance? Only consider trips with trip_distance less than 100 miles.

In [146]:
df_lt_100 = df[df["trip_distance"] < 100]

In [159]:
max_distance = df_lt_100["trip_distance"].max()

In [158]:
max_trip = df_lt_100[df_lt_100["trip_distance"] == max_distance]

In [163]:
max_trip["lpep_pickup_datetime"].dt.date

18867    2025-11-14
Name: lpep_pickup_datetime, dtype: object

***Question 5***  
For the passengers picked up in the zone named "East Harlem North" in November 2025, which was the drop off zone that had the largest tip?

In [1]:
!ls

Dockerfile			pipeline.py
Dockerfile.bak			postgres_data
green_tripdata_2025-11.csv	pyproject.toml
green_tripdata_2025-11.parquet	README.md
ingest_data.py			script.py
main.py				taxi_zone_lookup.csv
notebook.ipynb			Untitled1.ipynb
notebook.py			Untitled.ipynb
ny_taxi_postgres_data		uv.lock
Output_day_10.parquet		yellow_tripdata_2021-01.csv.gz
Output_day_11.parquet